<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>🌟𝓐-𝓐-𝓟-𝓓🌠</title>
  </head>
  <body>
   
   
    <%- include('./layout/header'); -%>


    <div class="bg-danger-300">
      <div class="container ">
        <div class="row row-cols-4 g-2">
          <div class="col">
            <div class="p-2"><img src="/assets/images/icon/Feature_tab.png" alt="ooo"></div>
          </div>

          <div class="col">
            <div class="p-2"><img src="/assets/images/icon/Feature_tab.png" alt="ooo"></div>
          </div>

          <div class="col">
            <div class="p-2"><img src="/assets/images/icon/Feature_tab.png" alt="ooo"></div>
          </div>

          <div class="col">
            <div class="p-2"><img src="/assets/images/icon/Feature_tab.png" alt="ooo"></div>
          </div>
        </div>
      </div>
    </div>





    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
